body {
 background: black;
 color: white;
}
img {
 image-rendering: optimizeSpeed;
 image-rendering: -moz-crisp-edges;
 image-rendering: pixelated;
 image-rendering: -o-crisp-edges;
 image-rendering: crisp-edges;
 -ms-interpolation-mode: nearest-neighbor;
}